* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.header {
  height: 20vh;
  display: flex;
  align-items: center;
  padding: 40px;
  background: url('https://image.freepik.com/free-vector/gradient-hexagonal-background_23-2148944164.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  text-align: left;
}
.header p {
  font-size: 50px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  margin: 0px;
}
.header span {
  letter-spacing: 2px;
}
.addTodo {
  padding: 20px;
  display: flex;
  height: 100%;
  align-items: center;
}
.addTodo input {
  border: none;
  background: rgb(241, 241, 241);
  padding: 20px;
  border-radius: 8px;
  outline: none;
  margin-right: 10px;
  flex-basis: 30%;
}
.addTodo button {
  border: none;
  background: rgb(89, 255, 47);
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 8px;
  padding: 10px;
  margin: 5px;
}
.morebuttons {
  height: 100%;
}
.delete {
  border: none;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 8px;
  padding: 10px;
  background: red !important;
}
.body {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 40px;
  
}
h2 {
  color: #a7a3a4;
  margin-left: 80px;
}

[data-drop-target] {
  height: 400px;
  width: 46%;
  overflow-y: auto;
  /* margin: 25px; */
  background-color: rgb(247, 247, 247);
  /* float: left; */
  padding: 20px;
  border-radius: 8px;
}
.drag-enter {
  border: 2px dashed #000;

}
.textWrapper {
  display: flex;
  align-items: center;
}
.box {
  margin-bottom: 10px;
  box-shadow: 0px 2px 5px #17171727;
  background: white;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
.completed {
  opacity: .5;
}
.strike {
  text-decoration: line-through;
}
.deleteButton {
  border: solid 1px red;
  border-radius: 8px;
  color: red;
  padding: 10px;
  background: white;
  cursor: pointer;
}
.textWrapper p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 10px;
}
.checkBox {
  padding-right: 10px;
  background: rebeccapurple;
}
.box:nth-child(3) {
  clear: both;
}
.navy {
  background-color: navy;
}
.red {
  background-color: firebrick;
}
.green {
  background-color: darkgreen;
}
.orange {
  background-color: orange;
}
